<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict Gender</title>
    <link rel="stylesheet" href="/css/predict.css">
    <link rel="stylesheet" href="/css/tag.css">
</head>
<body>
    <%- include('header'); %>
    <main>
        <div id="cat"></div>
        <h1>Predict Gender</h1>
        <div class="input">
            <input type="text" placeholder="CARI" id="search">
            <input type="submit" value="KIRIM" id="kirim">
        </div>
        <div id="predict"></div>
    </main>
    <script src="/javascript/predict.js"></script>
    <%- include('footer'); %>
</body>
</html>