header {
    background-color: rgb(91, 163, 247);
    position: fixed;
    top: 0;
    width: 100%;
}
header h1 {
    float: left;
    font-size: 20px;
    margin: 5px 12px;
}
header h1 a {
    text-decoration: none;
    color: #fff;
}
header ul {
    text-align: right;
    list-style-type: none;
    padding-top: 3px;
    padding-right: 10px;
}
header ul li {
    background-color: rgb(138, 189, 247);
    display: inline-block;
    padding: 4px 16px;
    border-radius: 4px;
    margin: auto 2px;
}
header ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
footer {
    background-color: rgb(91, 163, 247);
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer h1 {
    text-align: center;
    font-size: 16px;
    padding: 6px;
    color: #fff;
}